<div class="pfs-layout-designer-content">
  <fieldset>
    <legend>Layout Selection</legend>
    <div class="form-group">
        <label for="pdf-file">Blank Chronicle PDF</label>
        <div class="form-fields">
            <input type="text" id="pdf-file" name="pdfFile" value="{{pdfPath}}" readonly>
            <button type="button" class="file-picker-button"><i class="fas fa-folder-open"></i></button>
        </div>
    </div>

    <div class="form-group">
        <label for="season">Season</label>
        <select id="season" name="season">
            {{#each seasons}}
                <option value="{{this.id}}" {{#if (eq this.id ../selectedSeasonId)}}selected{{/if}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="layout">Layout</label>
        <select id="layout" name="layout">
            {{#each layoutsInSeason}}
                <option value="{{this.id}}" {{#if (eq this.id ../selectedLayoutId)}}selected{{/if}}>{{this.description}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
      <button id="save-selection" type="button" class="pfscg-btn"><i class="fas fa-save"></i> Save</button>
    </div>
  </fieldset>

  <fieldset>
    <legend>Layout Design</legend>
    <div class="form-group">
        <label for="draw-boxes">Draw Boxes</label>
        <input type="checkbox" id="draw-boxes" name="drawBoxes">
    </div>

    <div class="form-group">
        <label for="draw-grid">Draw Grid</label>
        <input type="checkbox" id="draw-grid" name="drawGrid">
    </div>

    <div class="form-group">
        <label for="canvas">Canvas</label>
        <select id="canvas" name="canvas">
            {{#each canvases}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
      <button type="submit" class="pfscg-btn"><i class="fas fa-cogs"></i> Generate</button>
    </div>
  </fieldset>
</div>
