<div>
    <fieldset>
        <legend>Character Details</legend>
        <div class="form-group">
            <label for="characterName">Character Name</label>
            <input type="text" id="characterName" name="characterName" value="{{characterName}}" readonly>
        </div>
        <div class="form-group">
            <label for="playerNumber">Player Number</label>
            <input type="text" id="playerNumber" name="playerNumber" value="{{playerNumber}}" readonly>
        </div>
        <div class="form-group">
            <label for="characterNumber">Character Number</label>
            <input type="text" id="characterNumber" name="characterNumber" value="{{characterNumber}}" readonly>
        </div>
    </fieldset>

    <fieldset>
        <legend>Event Details</legend>
        <div class="form-group">
            <label for="gmName">GM Name</label>
            <input type="text" id="gmName" name="gmName" value="{{gmName}}">
        </div>
        <div class="form-group">
            <label for="gmPfsNumber">GM PFS Number</label>
            <input type="text" id="gmPfsNumber" name="gmPfsNumber" value="{{gmPfsNumber}}">
        </div>
        <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" id="eventName" name="eventName" value="{{eventName}}">
        </div>
        <div class="form-group">
            <label for="eventCode">Event Code</label>
            <input type="text" id="eventCode" name="eventCode" value="{{eventCode}}">
        </div>
    </fieldset>

    <fieldset>
        <legend>Rewards & Notes</legend>
        <div class="form-group">
            <label for="xpEarned">XP Earned</label>
            <input type="number" id="xpEarned" name="xpEarned" value="{{xpEarned}}">
        </div>
        <div class="form-group">
            <label for="goldEarned">Gold Earned</label>
            <input type="number" id="goldEarned" name="goldEarned" value="{{goldEarned}}">
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" rows="12" cols="40">{{notes}}</textarea>
        </div>
        <div class="form-group">
            <label for="reputation">Reputation</label>
            <textarea id="reputation" name="reputation" rows="3" cols="80">{{reputation}}</textarea>
        </div>
    </fieldset>
</div>
